/* 
.sb-nav-fixed{
    background-image: url(../images/bg.png);
    background-size: cover;
} */
.dropdown-menu.show {
  display: block !important;
}
.dropdown-menu a{
  font-size: 14px;
}
.fixed-top, .sb-nav-fixed #layoutSidenav #layoutSidenav_nav, .sb-nav-fixed .sb-topnav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
#layoutAuthentication {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  #layoutAuthentication #layoutAuthentication_content {
    min-width: 0;
    flex-grow: 1;
  }
  #layoutAuthentication #layoutAuthentication_footer {
    min-width: 0;
  }
  
  #layoutSidenav {
    display: flex;
  }
  #layoutSidenav #layoutSidenav_nav {
    flex-basis: 225px;
    flex-shrink: 0;
    transition: transform 0.15s ease-in-out;
    z-index: 1038;
    transform: translateX(-225px);
  }
  #layoutSidenav #layoutSidenav_content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    flex-grow: 1;
    min-height: calc(100vh - 56px);
    margin-left: -225px;
  }
  
  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
    transform: translateX(0);
  }
  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1037;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
  }
  
  @media (min-width: 992px) {
    #layoutSidenav #layoutSidenav_nav {
      transform: translateX(0);
    }
    #layoutSidenav #layoutSidenav_content {
      margin-left: 0;
      transition: margin 0.15s ease-in-out;
    }
  
    .sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
      transform: translateX(-225px);
    }
    .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content {
      margin-left: -225px;
    }
    .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
      display: none;
    }
  }
  .sb-nav-fixed .sb-topnav {
    z-index: 1039;
    background-color: rgba(29,29,31,0.72) !important;
    border-bottom: 1px solid #ffffff12;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
  .sb-nav-fixed #layoutSidenav #layoutSidenav_nav {
    width: 225px;
    height: 100vh;
    z-index: 1038;
  }
  .sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav {
    padding-top: 56px;
  }
  .sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu {
    overflow-y: auto;
  }
  .sb-nav-fixed #layoutSidenav #layoutSidenav_content {

    padding-left: 225px;
    top: 56px;
  }
  
  #layoutError {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  #layoutError #layoutError_content {
    min-width: 0;
    flex-grow: 1;
  }
  #layoutError #layoutError_footer {
    min-width: 0;
  }
  
  .img-error {
    max-width: 20rem;
  }
  
  .nav .nav-link .sb-nav-link-icon,
  .sb-sidenav-menu .nav-link .sb-nav-link-icon {
    margin-right: 0.5rem;
  }
  
  .sb-topnav {
    padding-left: 0;
    height: 56px;
    z-index: 1039;
  }
  .sb-topnav .navbar-brand {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
  }
  .sb-topnav.navbar-dark #sidebarToggle {
    color: rgba(255, 255, 255, 0.5);
    line-height: inherit;
    background-color: transparent;
}
  .sb-topnav.navbar-light #sidebarToggle {
    color: #212529;
  }
  
  .sb-sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;
  }
  .sb-sidenav .sb-sidenav-menu {
    flex-grow: 1;
  }
  .sb-sidenav .sb-sidenav-menu .nav {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
    padding: 1.75rem 1rem 0.75rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .sb-sidenav .sb-sidenav-menu .nav .nav-link {
    display: flex;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    position: relative;
  }
  .sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-nav-link-icon {
    font-size: 0.9rem;
  }
  .sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-sidenav-collapse-arrow {
    display: inline-block;
    margin-left: auto;
    transition: transform 0.15s ease;
  }
  .sb-sidenav .sb-sidenav-menu .nav .nav-link.collapsed .sb-sidenav-collapse-arrow {
    transform: rotate(-90deg);
  }
  .sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-nested {
    margin-left: 1.5rem;
    flex-direction: column;
  }
  .sb-sidenav .sb-sidenav-footer {
    padding: 0.75rem;
    flex-shrink: 0;
  }
  
  .sb-sidenav-dark {
    color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(29,29,31,0.72) !important;
    border-right: 1px solid #ffffff12;
}
  .sb-sidenav-dark .sb-sidenav-menu .sb-sidenav-menu-heading {
    color: rgba(255, 255, 255, 0.25);
  }
  .sb-sidenav-dark .sb-sidenav-menu .nav-link {
    color: rgba(255, 255, 255, 0.5);
  }
  .sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-nav-link-icon {
    color: rgba(255, 255, 255, 0.25);
  }
  .sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
    color: rgba(255, 255, 255, 0.25);
  }
  .sb-sidenav-dark .sb-sidenav-menu .nav-link:hover {
    color: #fff;
  }
  .sb-sidenav-dark .sb-sidenav-menu .nav-link.active {
    color: #fff;
  }
  .sb-sidenav-dark .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
    color: #fff;
  }
  .sb-sidenav-dark .sb-sidenav-footer {
    background-color: #343a40;
  }
  
  .sb-sidenav-light {
    background-color: #f8f9fa;
    color: #212529;
  }
  .sb-sidenav-light .sb-sidenav-menu .sb-sidenav-menu-heading {
    color: #adb5bd;
  }
  .sb-sidenav-light .sb-sidenav-menu .nav-link {
    color: #212529;
  }
  .sb-sidenav-light .sb-sidenav-menu .nav-link .sb-nav-link-icon {
    color: #adb5bd;
  }
  .sb-sidenav-light .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
    color: #adb5bd;
  }
  .sb-sidenav-light .sb-sidenav-menu .nav-link:hover {
    color: #007bff;
  }
  .sb-sidenav-light .sb-sidenav-menu .nav-link.active {
    color: #007bff;
  }
  .sb-sidenav-light .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
    color: #007bff;
  }
  .sb-sidenav-light .sb-sidenav-footer {
    background-color: #e9ecef;
  }

  .card {
    background-color: #161617;
    border: 1px solid rgb(224 224 224 / 13%);
}
.card-header {
  background-color: rgb(24 24 24);
  color: #fafafa;
}

.dropzone {
  border: 2px dashed rgb(3 3 3);
  background: #181818;
  margin-bottom: 35px;
  border-radius: 10px;
}
.del-file .btn {
  padding: 0px;
  height: inherit;
  line-height: inherit;
  background: transparent;
  font-size: 25px;
  opacity: .5;
}

.file-info h4 {
  color: #f9f9f9;
  font-weight: unset;
  font-size: 17px;
  line-height: initial;
}
.file-info span {
  display: block;
  font-size: 14px;
}
.file-icon{
  margin-right: 20px;
}
.upload-item {
  padding: 20px 16px;
  margin-bottom: 10px;
  border: 1px solid #313131;
  border-radius: 7px;
  align-items: center;
}

.progress {
  background-color: #1e1e1e;
}
.progress-bar {

  background-color: #003eed;
}

.dz-preview, .dz-file-preview {
  display: none !important;
}
.nav-pills .nav-link {
  border-radius: .25rem;
  background-color: #1f1f1f;
  margin-bottom: 10px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #4854d7;
}

.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:hover
{
  color: #ffffff;
  background-color: #161617;
  border-color: #ffffff29;
  border-bottom-color: #161617;
}
.nav-tabs {
  border-bottom: 1px solid #3b3b3c;
}
.corporate-content.tab-content>.tab-pane  {
  background-color: #161617;
  border: 1px solid rgb(59 59 60);
  padding: 14px;
  border-top: 0px;
}

.nav-tabs .nav-link:hover {
  border-color: #3b3b3c;
  background-color: #030303;
  color: white;
}
.nav-tabs .nav-item {
  margin-right: 5px;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e617;
  color: #f7f7f7b8;
}
.expand-btn {
  padding: 0px;
  line-height: initial;
  height: auto;
  background-color: transparent !important;
  position: relative;
  outline: none;
}
.expand-btn:focus{
  box-shadow: none;
}
.expand-btn i::before{
  content: "\f055";
}
.expand-btn.open i::before{
  content: "\f056";
}

.table td .table td {
  background-color: #131313;
}
#layoutSidenav_content .single-intro-text{
  transition: all ease-in-out 300ms;
}
#layoutSidenav_content .single-intro-text:hover{
transform: scale(1.03);
}

