.form-control, .custom-file-label {
    width: 100%;
    display: block;
    border: 1px solid #cdcdcd;
    height: 50px;
    box-sizing: border-box;
    padding: 9px 20px;
    color: #222;
    font-size: 15px;
    border-radius: 0px;
}
.custom-file label{
  line-height: 30px;
}
.custom-file-input:lang(en)~.custom-file-label::after {
  content: "Browse";
  height: 48px;
  line-height: 50px;
  padding: 0px 15px;
  border-radius: 0px;
}
.achievements li a.nav-link {
  font-size: 14px;
  color: #4d5bed;
  padding: 4px 16px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #4d5bed;
}
.achievements li a.nav-link
.form-control:focus, .custom-file-input:focus ~ .custom-file-label{
  box-shadow: none;
}
.form-group{
  margin-bottom: 30px;
}
.form-group label {
  font-size: 14px;
  color: #16161b;
  font-weight: 500;
  margin-bottom: 2px;
}
.vertical {
  display: block;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 350px 1fr;
}
.vertical .steps {
  grid-row: 1/3;
  padding: 3rem;
}

.steps ul {
  position: relative;
  list-style-type: none;
}
.steps ul li {
  padding-bottom: 40px;
  position: relative;
}
.steps ul li:last-child{
 
}
.steps ul li a {
  text-decoration: none;
  color: #222;
}
.steps ul li:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background: #ebebeb;
  left: 20px;
  bottom: calc(100% - 40px);
  z-index: 0;
}
.steps ul li.done:after, .steps ul li.current:after{
  background: #4d5bed;
}
.steps ul li:first-child:after{
  display: none;
}
.title {
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
}
.title .step-number {
  width: 40px;
  height: 40px;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  background: #ebebeb;
  color: #999;
  margin-right: 15px;
  border: 5px solid #fff;
  font-weight: bold;
  display: inline-flex;
  position: relative;
    z-index: 1;
}
.title .step-text {
  font-weight: bold;
  color: #999;
}
.current .title .step-number {
  background: #5a35c9;
  color: #fff;
}
.steps ul li.done .step-number{
  background: #4d5bed;
  color: #fff;
}
.current .title .step-text,
.steps ul li.done .step-text
{
  color: #4d5bed;
}

.content h3 {
  display: none;
}
.content{
  padding: 3rem;
}
.actions{
  padding: 0 3rem 3rem 3rem ;
}
.content,
.actions {
  background: #f8f8f8;
}


.actions ul {
  list-style-type: none;
  display: flex;
}
.actions ul .disabled {
  display: none;
}
.actions ul li {
  margin-left: auto;
}
.actions ul li:first-child {
  margin-left: 0px;
}
.actions ul li:first-child a {
  background: #e8e8e8;
  color: #999;
}
.actions ul li a {
  width: 140px;
  height: 50px;
  color: #fff;
  background: #4d5bed;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  text-decoration: none;
  display: flex;
  border-radius: 4px;
}

.submit {
  width: 150px;
  background: #666;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}
.submit:hover {
  background-color: #4d4d4d;
}

@media screen and (max-width: 1024px) {
  .container {
    width: calc(100% - 40px);
    max-width: 100%;
  }

  .vertical .steps,
  .vertical .content,
  .vertical .actions {
    float: none;
    width: 100%;
  }

  #find_bank {
    width: 100%;
  }

  .form-radio-flex input + label {
    width: 190px;
    height: 120px;
  }
}
@media screen and (max-width: 992px) {
  .content {
    height: 900px;
  }

  .form-radio-flex input + label {
    width: 100px;
    height: 65px;
  }
}
@media screen and (max-width: 768px) {
  #steps-uid-0-p-0 .form-row,
  #steps-uid-0-p-0 .form-group,
  #steps-uid-0-p-0 .form-date {
    width: 100%;
  }

  .form-flex {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    margin: 0px;
  }

  .form-flex .form-group {
    padding: 0px;
  }

  fieldset,
  .actions ul {
    padding-left: 30px;
    padding-right: 30px;
  }

  #slider-margin .noUi-pips {
    width: 94%;
  }
}
@media screen and (max-width: 480px) {
  .form-date-group,
  .form-find {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
  }

  .content {
    height: 1050px;
  }

  #find_bank {
    margin-bottom: 20px;
  }

  .actions ul li a {
    width: 100px;
  }

  .form-radio-flex {
    margin: 0 -5px;
  }

  .form-radio-flex .form-radio-item {
    padding: 0 5px;
  }

  .form-radio-flex input + label {
    width: 90px;
    height: 61px;
  }
}

/*# sourceMappingURL=style.css.map */
